h1 {
	color: orange;
}
h2 {
	color: blue;
}
h3 {
	color: green;
}

p {
	text-decoration: underline;
}

h4 {
	background-color: tomato;
}

#shape {
	background: steelblue;
	height: 200px;
	width: 300px;
}

.shape {
	background-color: green;
	height: 100px;
	width: 100px;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
}

.shape.circle {
	border-radius: 50%;
}