h1 {
	color: orange;
}
h2 {
	color: blue;
}
h3 {
	color: aqua;
}

p {
	text-decoration: underline;
}

h4 {
	background-color: tomato;
}

#shape {
	background: steelblue;
	height: 200px;
	width: 300px;
}